@import "tailwindcss";

@theme {
    /* Usage: bg-netral-putih, text-netral-putih */
    --color-netral-putih: #FFFFFF;
    --color-netral-abu: #cccccc;
    
    /* Usage: bg-utama, text-utama */
    --color-utama: oklch(28.396% 0.07569 254.184);

    /* Usage: bg-base-100, bg-base-400, dll */
    --color-base-100: oklch(28% 0.091 267.935);
    --color-base-200: oklch(37% 0.146 265.522);
    --color-base-300: oklch(42% 0.199 265.638);
    --color-base-400: oklab(54.518% -0.03034 -0.10648);
    --color-base-content: oklch(93% 0.032 255.585);

    /* Usage: bg-primary, text-primary */
    --color-primary: oklch(51% 0.262 276.966);
    --color-primary-content: oklch(96% 0.018 272.314);

    /* Usage: bg-secondary */
    --color-secondary: oklch(64% 0.2 131.684);
    --color-secondary-content: rgb(245, 252, 229);

    /* Usage: bg-accent-content */
    --color-accent-content: oklch(98% 0.018 155.826);

    /* Usage: bg-neutral */
    --color-neutral: oklch(42% 0.199 265.638);
    --color-neutral-content: oklch(97% 0.014 254.604);

    /* Usage: bg-info */
    --color-info: oklch(54% 0.245 262.881);
    --color-info-content: oklch(97% 0.014 254.604);

    /* Usage: bg-success */
    --color-success: oklch(62% 0.194 149.214);
    --color-success-hover: oklch(46.023% 0.13372 147.868);
    --color-success-content: oklch(98% 0.018 155.826);

    /* Usage: bg-warning */
    --color-warning: oklch(94.295% 0.11515 99.184);
    --color-warning-content: oklch(79.268% 0.17097 70.665);

    /* Usage: bg-error */
    --color-error: oklch(55.398% 0.22734 29.223);
    --color-error-content: oklch(96% 0.015 12.422);

    --color-custom-text: oklch(30% 0.05 274.713);
}

@layer base {
    header, footer {
        @apply bg-utama text-custom-text overflow-hidden;
    }

    main {
        @apply bg-base-400 flex flex-col flex-1;
    }
}

@utility hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}