:root {
    --warna-netral-putih: #FFFFFF;
    --warna-netral-abu: #cccccc;
    --warna-utama: oklch(28.396% 0.07569 254.184);
    --color-base-100: oklch(28% 0.091 267.935);
    --color-base-200: oklch(37% 0.146 265.522);
    --color-base-300: oklch(42% 0.199 265.638);
    --color-base-400:  oklab(54.518% -0.03034 -0.10648);
    --color-base-content: oklch(93% 0.032 255.585);
    --color-primary: oklch(51% 0.262 276.966);
    --color-primary-content: oklch(96% 0.018 272.314);
    --color-secondary: oklch(64% 0.2 131.684);
    --color-secondary-content: rgb(245, 252, 229);
    --color-accent-content: oklch(98% 0.018 155.826);
    --color-neutral: oklch(42% 0.199 265.638);
    --color-neutral-content: oklch(97% 0.014 254.604);
    --color-info: oklch(54% 0.245 262.881);
    --color-info-content: oklch(97% 0.014 254.604);
    --color-success: oklch(62% 0.194 149.214);
    --color-success-hover: oklch(46.023% 0.13372 147.868);
    --color-success-content: oklch(98% 0.018 155.826);
    --color-warning: oklch(94.295% 0.11515 99.184);
    --color-warning-content: oklch(79.268% 0.17097 70.665);
    --color-error: oklch(55.398% 0.22734 29.223);
    --color-error-content: oklch(96% 0.015 12.422);

    --color-text: oklch(78% 0.115 274.713);
}

header,
footer {
    background: var(--warna-utama);
    color: var(--color-text);
    overflow: hidden;
}

main {
    background: var(--color-base-400);
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
